body {
    background-color: hsl(233, 47%, 7%);
    height: auto;
    box-sizing: border-box;
}

main {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    margin: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-right: 100px;
    justify-content: flex-start;
}

.stats {
    display: flex;
    margin-top: auto;
    gap: 60px;
}

h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 15px;
}

span {
    color: hsl(277, 64%, 61%);
}

p {
    color: hsl(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin: 0;
    margin-bottom: 5px;
}

h3 {
    color: hsl(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: smaller;
    margin: 0;
    font-weight: 300;
    letter-spacing: .2em;
}

.image {
    width: 540px;
    height: 446px;

    border-radius: 0 15px 15px 0;
}

img {
    border-radius: 0 15px 15px 0;
}

.tint {
    width: 540px;
    height: 446px;
    position: relative;
    border-radius: 0 15px 15px 0;
}

.tint::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 540px;
    height: 446px;
    background-color: hsl(277, 64%, 61%);
    mix-blend-mode: multiply;
    border-radius: 0 15px 15px 0;
}

.attribution {
    font-size: 11px; text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    margin-top: 0;
}

.attribution a {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

@media all and (max-width: 375px) {
    main {
        flex-direction: column-reverse;
        margin: 50px 20px;
    }

    body {
        width: auto;
        margin: 0;
        padding-bottom: 10px;
        box-sizing: border-box;
    }

    body > * {
        text-align: center;
    }

    .image, .tint, .tint::before, img {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 15px 15px 0 0;
    }

    .text {
        margin: 30px 18px;
    }
    .stats {
        flex-direction: column;
        margin-top: 50px;
    }
}